.editorjs-codeFlask_Wrapper {
    height: 200px;
	border: 1px solid #dcdfe6;
	border-radius: 5px;
	background-color: #f0f2f5;
    margin-bottom: 10px;
}

.editorjs-codeFlask_Wrapper .codeflask {
	border-radius: 5px;
	background: none;
}


.editorjs-codeFlask_Wrapper .editorjs-codeFlask_LangDisplay {
	position: absolute;
	height: 20px;
	line-height: 20px;
	font-size: 10px;
	color: #999;
	background-color: #dcdfe6;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	right: 0;
	bottom: 0;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
}

.editorjs-codeFlask_Wrapper .codeflask.codeflask--has-line-numbers:before{
    background-color: #dcdfe6;
}